\Addition\.vs
\Addition\bin
\Addition\obj

\AdditionBasic Console App\.vs
\AdditionBasic Console App\bin
\AdditionBasic Console App\obj

\Calculator\.vs
\Calculator\bin
\Calculator\obj

\Jagged Array\.vs
\Jagged Array\bin
\Jagged Array\obj

\Multi-Dimensional Array\.vs
\Multi-Dimensional Array\bin
\Multi-Dimensional Array\obj

\Number Range\.vs
\Number Range\bin
\Number Range\obj

\Student Form\.vs
\Student Form\bin
\Student Form\obj

\Student Record\.vs
\Student Record\bin
\Student Record\obj